.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  max-width: 780px;
  &__options {
    display: flex;
    gap: 24px;
    justify-content: center;
    margin: 48px 0;
  }
}
