@import "../assets/styles/variables";

.home {
  &__intro {
    color: $PRIMARY_TEXT_COLOR;
    font-weight: 400;
    strong {
      color: $PRIMARY_COLOR;
    }
  }

  &__illustration {
    background-color: $SECONDARY_BACKGROUND_COLOR;
    border-radius: 8px;
    border: 2px solid $PRIMARY_COLOR;
    max-width: 90%;
    @media (min-width: 1024px) {
      max-width: 50%;
    }
  }

  &__buttons {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: center;
    @media (min-width: 1024px) {
      flex-direction: row;
    }

    button {
      background-color: $PRIMARY_COLOR;
      border: 1px solid $PRIMARY_COLOR;
      font-size: 20px;
      &:first-child {
        background-color: $SECONDARY_BACKGROUND_COLOR;
      }
    }
  }
}
