@import "../../assets/styles/variables";

.contact {
  align-items: center;
  display: flex;
  flex-direction: column-reverse;
  gap: 48px;
  justify-content: center;
  @media (min-width: 1024px) {
    flex-direction: row;
  }

  &__picture {
    background-color: $SECONDARY_BACKGROUND_COLOR;
    border-radius: 8px;
    box-shadow: -20px 20px $PRIMARY_COLOR;
    margin: 24px 0 24px 24px;
    max-width: 80%;
    @media (min-width: 1024px) {
      margin: 0;
      max-width: 30%;
    }
  }

  &__title {
    text-align: start;
  }

  &__content {
    @media (min-width: 1024px) {
      min-width: 400px;
    }

    li {
      font-size: 20px;
      text-align: start;
      @media (min-width: 1024px) {
        font-size: 24px;
      }
    }
  }
}
