.home {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 48px;
  justify-content: center;
  text-align: center;
  width: 100%;
  @media (min-width: 1024px) {
    flex-direction: row;
    &__wrapper {
      min-width: 500px;
    }
  }

  &__intro {
    color: var(--primary-text-color);
    font-weight: 400;
    strong {
      color: var(--brand-color);
      font-family: "Protest Riot", sans-serif;
    }
  }

  &__illustration {
    background-color: var(--image-background-color);
    border-radius: 8px;
    border: 2px solid var(--brand-color);
    max-width: 90%;
    @media (min-width: 1024px) {
      max-width: 500px;
    }
  }

  &__buttons {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: center;
    @media (min-width: 1024px) {
      flex-direction: row;
    }
  }
}
