@import "../assets/styles/variables";

.nav {
  background-color: $SECONDARY_BACKGROUND_COLOR;
  padding: 16px;
  width: 100%;

  &__current:after {
    background-color: $PRIMARY_COLOR;
    border-radius: 8px;
    bottom: -8px;
    content: "";
    height: 4px;
    left: 50%;
    position: absolute;
    width: 12px;
  }

  ul {
    align-items: center;
    display: flex;
    gap: 24px;
    li {
      position: relative;

      a {
        text-decoration: none;
      }
    }
  }
}
