@import url("https://fonts.googleapis.com/css2?family=Protest+Riot&display=swap");

body {
  background-color: var(--primary-background-color);
  color: var(--primary-text-color);

  &.dark {
    --image-background-color: var(--dark-accent-color);
    --box-shadow: 0 6px 8px -2px black;
  }
  &.light {
    --image-background-color: var(--brand-color);
    --box-shadow: 0 6px 8px -2px #525252;
  }
}

h1 {
  color: var(--brand-color);
  font-size: 32px;
  font-weight: 700;
  @media (min-width: 1024px) {
    font-size: 48px;
  }
}
