@import "variables";

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: $PRIMARY_TEXT_COLOR;
  background-color: $PRIMARY_BACKGROUND_COLOR;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

main {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 48px;
  justify-content: center;
  margin: 0 auto;
  max-width: 1280px;
  text-align: center;
  width: 100%;
  @media (min-width: 1024px) {
    flex-direction: row;
  }
}

h1 {
  color: $PRIMARY_COLOR;
  font-size: 32px;
  font-weight: 700;
  @media (min-width: 1024px) {
    font-size: 48px;
  }
}

h2,
p {
  margin: 0;
}

a {
  color: $PRIMARY_TEXT_COLOR;
  &:hover {
    color: $PRIMARY_COLOR;
  }
}

button {
  background-color: $SECONDARY_BACKGROUND_COLOR;
  border-radius: 50px;
  border: none;
  color: $PRIMARY_TEXT_COLOR;
  cursor: pointer;
  padding: 8px 16px;
  width: fit-content;
}

ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

footer {
  padding: 16px;
  text-align: center;
}
