@import "variables";

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

body {
  --primary-background-color: #{$DARKER_GRAY_COLOR};
  --secondary-background-color: #{$DARK_GRAY_COLOR};
  --image-background-color: #{$DARK_GRAY_COLOR};
  --primary-text-color: #{$LIGHTER_GRAY_COLOR};
  --secondary-text-color: #{$LIGHT_GRAY_COLOR};
  --box-shadow: 0 2px 10px black;

  background-color: var(--primary-background-color);
  color: var(--primary-text-color);
  margin: 0;

  &.light {
    --primary-background-color: #d6d6d6;
    --secondary-background-color: #e6e6e6;
    --image-background-color: #{$PRIMARY_COLOR};
    --primary-text-color: #{$DARKER_GRAY_COLOR};
    --secondary-text-color: #525252;
    --box-shadow: 0 4px 8px #{$DARK_GRAY_COLOR};
  }
}

main {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 48px;
  justify-content: center;
  margin: 0 auto;
  max-width: 1280px;
  text-align: center;
  width: 100%;
  @media (min-width: 1024px) {
    flex-direction: row;
  }
}

h1 {
  color: $PRIMARY_COLOR;
  font-size: 32px;
  font-weight: 700;
  @media (min-width: 1024px) {
    font-size: 48px;
  }
}

h2,
h3,
p {
  margin: 0;
}

a {
  color: var(--primary-text-color);
  &:hover {
    color: $PRIMARY_COLOR;
  }
}

button {
  background-color: $DARK_GRAY_COLOR;
  border: none;
  color: $LIGHTER_GRAY_COLOR;
  cursor: pointer;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  padding: 0;
  width: fit-content;
  &:hover {
    box-shadow: var(--box-shadow);
  }
}

ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

footer {
  padding: 16px;
  text-align: center;
  color: var(--secondary-text-color);
}
